<div style="width: 100%; display:inline-block;">
  <a href="#" class="btn orange" ng-click="back()">Voltar</a>
  <span style="font-size: 16px; font-weight: bold">{{linha.number}} - {{linha.title}}</span><br/>
  <span style="font-size: 14px;">{{linha.timeToGo}}<br/>{{linha.timeToGoBack}}</span><br/><br/>
  Caminho de ida:<br/>
  <ul>
    <li ng-repeat="address in linha.addressesToGo"><a href="http://maps.google.com/?q={{address.address}}, Sao Carlos - SP&z=23" target="_blank">{{address.address}}</a></li>
  </ul>
  Caminho de volta:<br/>
  <ul>
    <li ng-repeat="address in linha.addressesToGoBack"><a href="http://maps.google.com/?q={{address.address}}, Sao Carlos - SP&z=23" target="_blank">{{address.address}}</a></li>
  </ul>
</div>
